<div id="page_content">
    <div id="top_bar">
        <div ncy-breadcrumb></div>
    </div>
    <div id="page_content_inner">

        <div class="uk-grid uk-grid-medium">
            <div class="uk-width-large-1-1 uk-width-small-1-1 uk-text-right">
                <a ng-click="reload()" class="md-btn md-btn-small md-bg-purple md-color-white md-btn-wave-light md-btn-icon">
                    <i class="material-icons md-color-white uk-margin-right">loop</i>Actualizar
                </a>
            </div>
        </div>

        <div ng-include src="'app/site_desktop/views/shared/avanceView.html'"></div>
        
        <div class="uk-grid uk-grid-medium" >
            <div class="uk-width-large-4-5 uk-width-medium-1-2 uk-width-small-1-1">
                <h2 class="uk-margin-bottom uk-margin-top md-color-pink-500">Gubernatura
                    <span class="md-color-purple">- Voto desde el extranjero</span>
                </h2>
                <ul class="md-list md-list-addon uk-margin-top">
                    <li>
                        <div class="md-list-addon-element">
                            <i class="material-icons md-color-pink md-list-addon-icon">info</i>
                        </div>
                        <div class="md-list-content">
                            <span class="uk-text-small">Cantidad de votos de la Entidad, conforme a la información de las mesas de escrutinio y cómputo.</span>
                            <span class="uk-text-small">Por presentación, los decimales de los porcentajes muestran sólo cuatro dígitos. No obstante, al considerar todos los decimales, suman 100%.</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-width-large-1-5 uk-width-medium-1-2 uk-width-small-1-1 uk-text-right">
                <br/>
                <a ui-sref="desktop.basedatos" class="md-btn md-btn-small md-bg-grey-800 md-color-white md-btn-wave-light md-btn-icon btn-descargar">
                    <i class="uk-icon-download md-color-white"></i>
                    Base de datos
                </a>
            </div>
        </div>

        <div class="md-card uk-margin-bottom">
            <div class="md-card-content">
               <div class="uk-grid uk-grid-medium">
                    <div class="uk-width-large-2-5">
                        <h3 class="md-color-purple">
                            Detalle de votos por Casilla
                        </h3>
                    </div>
                    <div class="uk-width-large-3-5 uk-text-right">
                        <p class="uk-margin-bottom">
                            <i class="material-icons">insert_drive_file</i> Acta en proceso | 
                            <i class="material-icons md-color-purple-400">insert_drive_file</i><i class="material-icons md-color-purple-400">print</i> Acta digitalizada con scanner |
                            <i class="material-icons md-color-purple-400">insert_drive_file</i><i class="material-icons md-color-purple-400">smartphone</i> Acta digitalizada con dispositivo móvil
                        </p>
                    </div>
                </div>
                <div class="uk-width-large-1-1">
                    <div data-double-scroll-bar-horizontal>
                        <table class="uk-table uk-table-striped uk-table-border">
                            <thead>
                                <tr class="border-bottom-pink">
                                    <th class="uk-text-truncate">Mesa de escrutinio <br/>y cómputo</th>
                                    <th class="uk-text-center">Código Sha</th>
                                    <th class="uk-text-center">Acta digitalizada</th>
                                    <th ng-repeat="item in encabezados" class="uk-text-center">
                                        <img class="logo-tabla" ng-if="item.nombrecorto != '' " ng-src="assets/img/logos_partidos/{{item.nombrecorto}}.png">
                                        <p class="uk-margin-bottom-remove uk-margin-top-remove" ng-if="item.nombrecorto == '' ">{{item.nombre}}</p>
                                    </th>
                                    <th>Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in entidad.casillas.DATA" ng-class="{'border-bottom-pink':$last}">
                                    <td class="uk-text-truncate">{{item.TITULO}}</td>
                                    <td ng-if="item.SHA == '' " class="uk-text-center">
                                        <i class="material-icons">https</i>
                                    </td>
                                    <td ng-if="item.SHA != '' " class="uk-text-center">
                                        <a href="#modal_sha" data-uk-modal ng-click="open(item.SHA)"><i class="material-icons md-color-purple-400">https</i></a>
                                    </td>
                                    <td ng-if="item.ORIGEN == '' " class="uk-text-center">
                                        <i class="material-icons">insert_drive_file</i>
                                    </td>
                                    <td ng-if="item.ORIGEN == 'CATD'" class="uk-text-center">
                                        <a href="https://s3.amazonaws.com/imagenes-ieeg01/{{item.URL}}" target="_blank"><i class="material-icons md-color-purple-400">insert_drive_file</i><i class="material-icons md-color-purple-400">print</i></a>
                                    </td>
                                    <td ng-if="item.ORIGEN == 'CASILLA'" class="uk-text-center">
                                        <a href="https://s3.amazonaws.com/imagenes-ieeg01/{{item.URL}}" target="_blank"><i class="material-icons md-color-purple-400">insert_drive_file</i><i class="material-icons md-color-purple-400">smartphone</i></a>
                                    </td>
                                    <td ng-repeat="i in item.RESULTADOS track by $index" class="uk-text-center uk-vertical-center uk-text-truncate">{{i}}</td>
                                    <td class="uk-text-center">{{item.TOTALCALCULADO}}</td>
                                    <td class="uk-text-truncate">{{item.OBSERVACION}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br/>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-width-large-1-1 uk-text-right">
            <a ui-sref="desktop.basedatos" class="md-btn md-btn-small md-bg-grey-800 md-color-white md-btn-wave-light md-btn-icon btn-descargar">
                <i class="uk-icon-download md-color-white"></i>
                Base de datos
            </a>
        </div>

        <div class="uk-width-large-1-1">
            <h4 class="md-color-purple">
                Último corte:
                <b>{{entidad.resumen.fecha_hora}} horas</b> <a href="http://www.cenam.mx/hora_oficial/" target="_blank">(UTC-5)</a> Hora local,
                <b>{{entidad.resumen.fecha_corte}}.</b>
            </h4>
        </div>

        <div class="md-card uk-margin-top">
            <div class="md-card-content">
                <div class="uk-width-large-1-1 uk-text-left">
                    <h3 class="md-color-purple">Participación ciudadana respecto a las Actas Contabilizadas
                        <i class="material-icons md-color-purple-900 md-24">&#xE887;</i>
                    </h3>
                </div>

                <div class="uk-width-large-1-1">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-striped md-table-border-100">
                            <thead>
                                <tr class="md-bg-grey-200 border-bottom-pink">
                                    <th class="uk-text-bold uk-text-center">Mesa de escrutinio y cómputo</th>
                                    <th class="uk-text-bold uk-text-center">Participación ciudadana</th>
                                    <th class="uk-text-bold uk-text-center">Total de la Lista nominal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in entidad.casillas.DATA" ng-class="{'border-bottom-pink':$last} ">
                                        <td class="uk-text-truncate">{{item.TITULO}}</td>
                                    <td class="uk-text-center">{{item.PARTICIPACION}}%</td>
                                    <td class="uk-text-center">{{item.LN | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div ng-include src="'app/site_desktop/views/shared/inconsistencias.html'"></div>

    </div>
</div>
<div class="uk-modal" id="modal_sha">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"></button>
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Código Sha:</h3>
        </div>
        <p class="md-color-purple-900" id="sha">{{codigo_sha}}</p>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-color-pink uk-modal-close" ng-click="copiar()">Copiar</button>
        </div>
    </div>
</div>