<footer id="footer">
    <div>
        <p class="uk-text-center uk-text-small uk-margin-top">
            Los resultados presentados, tienen un carácter informativo y no son definitivos, por tanto, no tienen efectos jurídicos.<br/>
            Con base en la Ley Federal del Derecho de Autor queda prohibida cualquier modificación al diseño de este sitio.<br/>
            La modificación y/o destrucción de la información y/o contenido, total o parcial de este sitio, es delito federal de acuerdo al Código Penal Federal.
        </p>
    </div>
    <div class="md-bg-grey-600 uk-padding-top uk-padding-bottom">
        <p class="uk-text-center md-color-white">
            Este sitio se visualiza mejor en las versiones más recientes de los navegadores web Chrome, Edge, Safari y Opera.
        </p>
    </div>
    <div class="md-bg-grey-900 uk-text-center uk-padding-top uk-padding-bottom">
        <a href="https://ieeg.mx/" class="uk-margin-top uk-margin-bottom"><img ng-src="assets/img/logo.png" alt="" class="img-footer"></a>
    </div>
</footer>

<!-- <div class="md-fab-wrapper md-fab-speed-dial">
    <a class="md-fab md-bg-purple-900" href="#" data-uk-tooltip="{pos:'right'}" title="Vuelve al comienzo"><i class="material-icons  md-color-white">expand_less</i></a>
</div> -->