<div class="md-card uk-margin-top">
    <div class="md-card-content">
        <h3 class="uk-margin-bottom md-color-purple">Actas con inconsistencias
            <a href="https://prepgto2018.ieeg.mx/ayuda/pages/actas/actas.html" target="_blank"><i class="material-icons md-color-purple-900 uk-margin-left md-24">help</i></a>
        </h3>
        <div class="uk-width-large-1-1">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-no-border">
                    <tbody>
                        <tr class="md-delete-border">
                            <td colspan="2" class="uk-text-bold">Contabilizadas</td>
                        </tr>
                        <tr class="md-bg-grey-100">
                            <td class="uk-width-1-5">Identificación por proceso técnico operativo</td>
                            <td class="uk-width-4-5">Los datos del acta no se identificaron y se solicitó verificarlos por algún procedimiento válido del proceso técnico operativo.</td>
                        </tr>
                        <tr class="md-delete-border"> 
                            <td colspan="2" class="uk-text-bold"><br/>No contabilizadas</td>
                        </tr>
                        <tr class="md-bg-grey-100">
                            <td class="uk-width-1-5">Ilegible</td>
                            <td class="uk-width-4-5">La cantidad de votos en el acta de escrutinio y cómputo no puede leerse, tanto en letra como en número</td>
                        </tr>
                        <tr class="md-bg-grey-300">
                            <td class="uk-width-1-5">Sin dato</td>
                            <td class="uk-width-4-5">La cantidad de votos no fue asentada en el acta de escrutinio y cómputo.</td>
                        </tr>
                        <tr class="md-bg-grey-100">
                            <td class="uk-width-1-5">Excede lista nominal</td>
                            <td class="uk-width-4-5">Al sumar todos los votos en el Acta PREP, se excede el número de ciudadanos de la Lista Nominal de Electores de la casilla
                                    electoral, incluido el número de votos emitidos por los representantes de partidos políticos y, en su caso, Candidaturass
                                    independientes acreditados - sean locales o federales-, motivo por el cual, los votos asentados no se contabilizan y el Acta PREP
                                    se integra al grupo de actas no contabilizadas.
                            </td>
                        </tr>
                        <tr class="md-bg-grey-300">
                            <td class="uk-width-1-5">Sin Acta</td>
                            <td class="uk-width-4-5"><p>El acta de escrutinio y cómputo no llegó junto con el paquete electoral al Centro de Acopio y Transmisión de Datos (CATD),
                                    por algunas de las siguientes causas:</p>
                                    1. No abrió la casilla <br/>
                                    2. El paquete electoral fue entregado sin el sobre PREP<br/>
                                    3. El sobre PREP no contenía la copia del acta.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
