<footer id="footer">
    <!-- <div class="md-bg-grey-900 uk-text-center uk-padding-top uk-padding-bottom ">
        <p style="color: #fff;">Versión de escritorio <span style="color: #fff;" class="material-icons" >&#xE30B;</span></p>
    </div> -->
    <div>
        <p class="uk-text-center uk-text-small uk-margin-top"> Los resultados presentados, tienen un carácter informativo y no son definitivos, por tanto, no tienen efectos jurídicos.
            Con base en la Ley Federal del Derecho de Autor queda prohibida cualquier modificación al diseño de este sitio.</p>
    </div>
    <div class="md-bg-grey-900 uk-text-center uk-padding-top uk-padding-bottom">
        <a href="https://ieeg.mx/" class="uk-margin-top uk-margin-bottom">
            <img ng-src="assets/img/logo.png" alt="" class="img-footer">
        </a>
    </div>
</footer>

<!-- <div class="md-fab-wrapper md-fab-speed-dial">
    <a class="md-fab md-bg-purple-900" href="#" data-uk-tooltip="{pos:'right'}" title="Vuelve al comienzo"><i class="material-icons  md-color-white">expand_less</i></a>
</div> -->