<div id="page_content">
    <div id="top_bar">
        <div ncy-breadcrumb></div>
    </div>
    <div id="page_content_inner">
        <div class="uk-grid blog_article" data-uk-grid-margin>
            <div class="uk-width-medium-3-4">
                <div class="md-card">
                    <div class="md-card-content large-padding">
                        <div class="uk-article">
                            <h2 ><span class="md-color-pink-500">Descarga la base de datos</span> | PREP Guanajuato</h2>
                            <hr class="uk-article-divider" id="contenido">
                            <p class="uk-article-lead md-color-purple-900">Contenido del paquete</p>
                            <p>La base de datos es un archivo comprimido con extensión .zip, el cual incluye los siguientes documentos:</p>
                            <ul>
                                <li>GTO_GOB_2018.csv</li>
                                <li>GTO_DIP_LOC_2018.csv</li>
                                <li>GTO_AYUN_2018.csv</li>
                                <li>GTO_GOB_CANDIDATURAS_2018.csv</li>
                                <li>GTO_DIP_LOC_CANDIDATURAS_2018.csv</li>
                                <li>GTO_AYUN_CANDIDATURAS_2018.csv</li>
                                <li>LEEME.txt</li>
                            </ul>
                            <p>Los siguientes archivos contienen datos por: Entidad, Distrito, Sección y Casilla de votos por partido político, candidato independiente, coalición, votos nulos y totales.</p>
                            <ul>
                                <li>GTO_GOB_2018.csv</li>
                                <li>GTO_DIP_LOC_2018.csv</li>
                                <li>GTO_AYUN_2018.csv</li>
                            </ul>
                            <p>El archivo:</p>
                            <p><strong class="md-color-pink-500">GTO_GOB_CANDIDATURAS_2018.csv</strong> contiene la lista de candidatos a Gobernador, considerando datos de Entidad, Distrito, Partido y Candidato Independiente.</p>
                            <p><strong class="md-color-pink-500">GTO_DIP_LOC_CANDIDATURAS_2018.csv</strong> contiene la lista de candidatos independientes y suplentes a Diputado Local, por Entidad, Distrito, Partido y Candidato Independiente.</p>
                            <p><strong class="md-color-pink-500">GTO_AYUN_CANDIDATURAS_2018.csv</strong> contiene la lista de candidatos independientes y suplentes a Presidente Municipal, por Entidad, Distrito, Partido y Candidato Independiente</p>
                            <p><strong class="md-color-pink-500">LEEME.txt</strong> presenta un resumen del contenido de los archivos para una referencia rápida.</p>

                            <hr class="uk-article-divider" id="descarga">

                            <p class="uk-article-lead md-color-purple-900">Descarga</p>
                            <p>Para iniciar la descarga del paquete oprime el botón:</p>
                            <a target="_self" href="data/info/basedatos/{{basedatos}}" class="md-btn md-bg-grey-800 md-color-white md-btn-wave-light md-btn-icon">
                                <i class="uk-icon-download md-color-white"></i>
                                Descargar base de datos
                            </a>
                            <p>Localiza el archivo en la ubicacion que hayas elegido, o bien en tu historial de descargas. Puedes hacerlo presionando:</p>
                            <p><span class="uk-text-bold md-color-pink-500">CTRL + J</span> en Windows </p>
                            <p><span class="uk-text-bold md-color-pink-500">Alt + Cmd + L</span> en Mac</p>
                            <p>Se abrirá la carpeta de Descargas, ubica el archivo y selecciónalo.</p>

                            <hr class="uk-article-divider" id="descomprime">

                            <p class="uk-article-lead md-color-purple-900">Descomprime el archivo</p>
                            <p>Haz clic derecho sobre el archivo y selecciona:</p>
                            <p><span class="uk-text-bold md-color-pink-500">Extraer aquí</span> para guardar en la misma carpeta<br><span class="uk-text-bold md-color-pink-500">Extraer ficheros...</span> si deseas guardar en otra ubicación</p>
                            <p class="no-margin-bottom">Una vez realizada esta acción, se abre una ventana mostrando el proceso de extracción que se muestra en la imagen.</p>
                            <p class="no-margin-top">
                                <img ng-src="assets/img/basedatos/baseDatos_01.jpg" alt="">
                                <!-- <figure class="uk-thumbnail uk-thumbnail-large thumbnail no-margin-top">
                                 
                                    <figcaption class="uk-thumbnail-caption">Estraer ficheros...</figcaption>
                                </figure> -->
                            </p>
                            <p>Al terminar, tendrás el archivo descomprimido.</p>
                            <p><span class="uk-text-bold md-color-pink-500">Nota:</span><br/>Al tratarse de un archivo comprimido, es necesario tener el software Winrar o 7-Zip instalado en el caso de Windows; o bien Zipeg, Expander o RAR para usuarios Mac. <strong>Si tienes instalado Winzip, no funcionará.</strong></p>

                            <hr class="uk-article-divider" id="abre">

                            <p class="uk-article-lead md-color-purple-900">Abre los archivos</p>
                            <p class="no-margin-bottom">Haz doble clic sobre alguno de los archivos extraídos.</p>
                            <p class="no-margin-top">
                                <img ng-src="assets/img/basedatos/baseDatos_02.jpg" alt="">
                                <!-- <figure class="uk-thumbnail uk-thumbnail-large thumbnail no-margin-top">
                                   
                                    <figcaption class="uk-thumbnail-caption">Abre los archivos...</figcaption>
                                </figure> -->
                            </p>
                            <p>Recuerda, los archivos csv contienen información que puedes ver en programas de hoja de cálculo (como Excel, Access, Calc Open Office, Smartsheet, entre otros).</p>
                            <p>El archivo <strong>LEEME.txt</strong> abre con el bloc de notas en Windows o Notas en Mac.</p>
                            
                            <hr class="uk-article-divider" id="consulta">

                            <p class="uk-article-lead md-color-purple-900">Consulta</p>
                            <p>Finalmente, accedes a la información que contiene la base de datos obtenida a través de las Actas de Escrutinio y Cómputo que procesó el PREP.</p>
                            <p class="no-margin-top">
                                <img ng-src="assets/img/basedatos/baseDatos_05.png" alt="">
                                <!-- <figure class="uk-thumbnail uk-thumbnail-large thumbnail no-margin-top">
                                    <img ng-src="assets/img/basedatos/baseDatos_05.png" alt="">
                                    <figcaption class="uk-thumbnail-caption">Consulta...</figcaption>
                                </figure> -->
                            </p>

                            <hr class="uk-article-divider" id="comprueba">

                            <p class="uk-article-lead md-color-purple-900">Comprueba el paquete</p>
                            <p>Para validar la autenticidad de la imagen del Acta de tu casilla, puedes utilizar un <strong>software lector de código único de imagen.</strong></p>
                            <p>En el Centro de Ayuda puedes encontrar cómo <a href="#">validar un Acta PREP <i class="uk-icon-external-link md-color-blue-500"></i></a></p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-4 menu_lateral" id="menu_lateral">
                <h5 class="uk-margin-small-bottom uk-text-upper">Introducción a la Base de datos</h5>
                <ul class="md-list uk-margin-remove">
                    <li ng-repeat="item in menu_lateral" class="item-lateral-list">
                        <div class="md-list-content">
                            <span class="md-list-heading uk-text-truncate"><a href="{{item.ancla}}" data-uk-smooth-scroll="{offset: 48, duration: 800}">{{item.titulo}}</a></span>
                        </div>
                    </li>
                </ul>
                <br/>
                <a target="_self" href="data/info/basedatos/{{basedatos}}" class="md-btn md-bg-grey-800 md-color-white md-btn-wave-light md-btn-icon">
                    <i class="uk-icon-download md-color-white"></i>
                    Descargar base de datos
                </a>
            </div>
        </div>
    </div>
</div>



