    <div class="error_page_header">
        <div class="uk-width-8-10 uk-container-center">
            404!
        </div>
    </div>
    <div class="error_page_content">
        <div class="uk-width-8-10 uk-container-center">
            <p class="heading_b">Página no encontrada</p>
            <p class="uk-text-large">
                la URL solicitada no fue encontrado en este servidor.
            </p>
            <a ui-sref="desktop.gubernatura_entidad">Ir al Inicio</a>
        </div>
    </div>