<div class="uk-grid-small uk-margin-remove">
    <div ng-include src="'app/site_movil/views/shared/avanceView.html'"></div>
</div>

<div class="uk-grid uk-margin-remove">
    <div class="uk-width-1-1 uk-padding-add uk-text-right uk-margin-remove">
        <a ng-click="reload()" class="uk-button uk-margin-remove uk-button-small m-background-purple m-font-color-white">
            <i class="material-icons m-font-color-white">refresher</i> Actualizar
        </a>
    </div>
</div>

<div class="uk-grid uk-grid-small uk-margin-remove">
    <a ui-sref="movil.diputaciones_entidad_detalle" class="uk-width-1-2 uk-text-center uk-text-small uk-text-middle m-background-purple m-button-firts m-background-purple-active">Distritos</a>
    <a ui-sref="movil.diputaciones_entidad_detalle_pp_ci" class="uk-width-1-2 uk-text-center uk-text-small uk-text-middle m-background-purple m-button-second">Votos por Partido Político y Candidatura Independiente</a>
</div>

<div class="uk-grid uk-grid-small uk-grid-width-small-1-1 uk-flex uk-flex-center" id="page_content">
    <div class="uk-width-1-1 uk-margin-left">
        <h3 class="md-color-pink uk-margin-remove">Diputaciones
            <span class="md-color-purple">- Detalle de la Entidad</span>
        </h3>
        <label>Votos por Candidatura</label>
    </div>
    <div class="uk-width-1-4 uk-grid-small uk-text-right"></div>
</div>

<div class="uk-grid uk-grid-small uk-grid-width-small uk-flex uk-flex-center">
    <div class="md-card uk-grid uk-grid-small uk-margin-remove">
        <div class="uk-width-1-1 uk-padding-remove">
            <table class="uk-table uk-table-small uk-table-responsive uk-text-center uk-table-striped">
                <thead>
                    <tr class="m-table-result-total uk-text-center">
                        <th class="uk-width-1-1 uk-text-middle mo-border-total" colspan="3">
                            <div class="uk-grid">
                                <div class="uk-width-1-3 uk-text-bold uk-text-right mo-border-right">
                                    <p class="uk-text-small uk-margin-remove">
                                        Distritos
                                        <br>
                                        <span ng-if="entidad.resumen_entidad.municipios_obtenidos[((encabezados | filter:query).length - 1)] != -1">
                                            {{ entidad.resumen_entidad.municipios_obtenidos[((encabezados | filter:query).length - 1)] | number }}
                                        </span>
                                    </p>
                                </div>
                                <div class="uk-width-1-3 uk-text-bold uk-text-right mo-border-right">
                                    <p class="uk-text-small uk-margin-remove">Total de votos</p>
                                </div>
                                <div class="uk-width-1-3 uk-text-bold uk-text-left">
                                    <p class="uk-text-small uk-margin-remove">{{ entidad.resumen_entidad.total_votos[((encabezados | filter:query).length - 1)] | number
                                        }}
                                    </p>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in encabezados" ng-if="$index != ((encabezados | filter:query).length - 1)">
                        <td class="uk-width-1-3 uk-text-small uk-text-middle">
                            <p class="uk-margin-bottom-remove uk-text-bold m-quita-margin" ng-if="entidad.resumen_entidad.municipios_obtenidos[$index] != -1">{{ entidad.resumen_entidad.municipios_obtenidos[$index] | number }}</p>
                            <p class="uk-margin-bottom-remove m-quita-margin">Distritos obtenidos</p>
                        </td>
                        <td class="uk-width-1-3 uk-text-small uk-text-middle">
                            <img class="logo-tabla" ng-if="item.nombrecorto != '' " ng-src="assets/img/logos_partidos/{{item.nombrecorto}}.png">
                            <p class="uk-margin-bottom-remove uk-margin-top-remove uk-text-bold" ng-if="item.title != '' ">{{item.title}}</p>
                            <p class="uk-margin-bottom-remove uk-text-bold m-quita-margin">{{ entidad.resumen_entidad.porcentaje[$index] }}%</p>
                        </td>
                        <td class="uk-width-1-3 uk-text-small uk-text-middle">
                            <p class="uk-text-small uk-margin-bottom-remove uk-text-comment">Total de votos</p>
                            <p class="uk-text-small uk-text-bold uk-margin-bottom-remove m-quita-margin">{{ entidad.resumen_entidad.total_votos[$index] | number }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="uk-grid uk-grid-small uk-grid-width-small-1-1 uk-flex uk-flex-center" id="page_content">
    <div class="uk-width-2-4"></div>
    <div class="uk-width-2-4 uk-grid-small uk-text-right">
        <a ui-sref="movil.diputaciones_distritos" class="uk-button uk-text-small m-background-purple">Ver Detalle del Distrito</a>
    </div>
</div>

<div class="uk-grid uk-grid-small uk-grid-width-small-1-1">
    <div class="md-card">
        <div class="uk-width-1-1 uk-padding-add">
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th colspan="3" style="border-bottom: 0px !important;">
                            <h4 class="uk-margin-bottom uk-margin-top md-color-purple-900">Estadística de Detalle de Distritos</h4>
                        </th>
                    </tr>
                    <tr class="border-bottom-pink ">
                        <th class="uk-text-left">Actas por Distrito</th>
                        <th class="uk-text-center">Total</th>
                        <th class="uk-text-center">Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Esperadas</td>
                        <td class="uk-text-center">{{ entidad.actas_resumen.total[0] | number}}</td>
                        <td class="uk-text-center">{{ entidad.actas_resumen.porcentaje[0] }}%</td>
                    </tr>
                    <tr>
                        <td>Capturadas</td>
                        <td class="uk-text-center">{{ entidad.actas_resumen.total[1] | number}}</td>
                        <td class="uk-text-center">{{ entidad.actas_resumen.porcentaje[1] }}%</td>
                    </tr>
                    <tr>
                        <td>Contabilizadas</td>
                        <td class="uk-text-center">{{ entidad.actas_resumen.total[2] | number}}</td>
                        <td class="uk-text-center">{{ entidad.actas_resumen.porcentaje[2] }}%</td>
                    </tr>
                    <tr>
                        <td>No Contabilizadas</td>
                        <td class="uk-text-center">{{ entidad.actas_resumen.total[3] | number}}</td>
                        <td class="uk-text-center">{{ entidad.actas_resumen.porcentaje[3] }}%</td>
                    </tr>
                    <tr>
                        <td>Con Inconsistencia</td>
                        <td class="uk-text-center">{{ entidad.actas_resumen.total[4] | number}}</td>
                        <td class="uk-text-center">{{ entidad.actas_resumen.porcentaje[4] }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="uk-width-1-1 uk-padding-add">
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th colspan="3" style="border-bottom: 0px !important;">
                            <h4 class="uk-margin-remove md-color-pink"> Participación ciudadana respecto a las Actas Contabilizadas</h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total de la lista nominal</td>
                        <td class="uk-text-center">{{ entidad.actas_resumen.lista_nominal | number }}</td>
                    </tr>
                    <tr>
                        <td>Total de votos</td>
                        <td class="uk-text-center">{{ entidad.actas_resumen.votos_scs | number }} </td>
                    </tr>
                    <tr>
                        <td>Lista nominal de actas contabilizadas</td>
                        <td class="uk-text-center">{{ entidad.actas_resumen.ln_contabilizada | number }}</td>
                    </tr>
                    <tr>
                        <td>Participación ciudadana respecto a las Actas Contabilizadas</td>
                        <td class="uk-text-center">{{ entidad.actas_resumen.participacion_ppci }}% </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>