<div class="uk-grid-small uk-margin-remove">
    <div ng-include src="'app/site_movil/views/shared/avanceView.html'"></div>
</div>

<div class="uk-grid uk-margin-remove">
    <div class="uk-width-1-1 uk-padding-add uk-text-right uk-margin-remove">
        <a ng-click="reload()" class="uk-button uk-margin-remove uk-button-small m-background-purple m-font-color-white">
            <i class="material-icons m-font-color-white">refresher</i> Actualizar
        </a>
    </div>
</div>

<div class="uk-grid uk-grid-small uk-grid-width-small-1-1 uk-flex uk-flex-center" id="page_content">
    <div class="uk-width-1-1 uk-margin-left">
        <h3 class="md-color-pink uk-margin-remove">Sección - Casilla
            <span class="md-color-purple">{{ descripcion }}</span>
        </h3>
        <label class="m-font-size-12">Sección {{ seccion_cmb | fill4numbers }}</label>
    </div>
</div>

<div class="uk-grid uk-grid-small uk-grid-width-small-1-1 uk-flex uk-flex-center">
    <div class="md-card">
        <div class="uk-grid m-background-purple-combobox">
            <div class="uk-width-1-5"></div>
            <div class="uk-width-3-5">
                <p class="uk-text-center m-encabezdo-texto-otros-votos">Consulta otra Sección:</p>
                <input type="text" config="cmb_secciones_config" options="(cmb_secciones_data | filter : {IDUBICACION : id_ubicacion })[0].Secciones"
                    ng-model="seccion_cmb" name="seccion_cmb" selectize class="uk-form-width-large uk-text-center" />
            </div>
            <div class="uk-width-1-5"></div>
        </div>
    </div>
</div>



<div class="uk-grid uk-grid-small uk-grid-width-small uk-flex uk-flex-center">
    <div class="md-card uk-grid uk-grid-small uk-margin-remove">
        <div class="uk-width-1-1 uk-padding-remove">
            <div class="uk-slidenav-position" data-uk-slideshow="{animation:'scroll'}">
                <ul class="uk-slideshow">
                    <li ng-repeat="item in (entidad.casillas | filter:{IDSECCION : seccion_cmb})[0].DATA">
                        <table class="uk-table uk-table-small uk-table-responsive uk-text-center uk-table-striped">
                            <thead>
                                <tr class="m-encabezado-table-seccion-casilla">
                                    <td class="uk-width-3-5 uk-text-center" colspan="2">
                                        <h4 class="uk-text-center uk-text-bold uk-margin-none m-quita-margin">Casilla {{seccion_cmb |fill4numbers}}
                                            <br> {{item.TITULO}} Extraordinaria Contigua</h4>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="uk-width-1-1 uk-text-center" colspan="2">
                                        <p class="uk-width-3-5 m-hipervinculo-acta-origen-n" ng-if="item.ORIGEN == '' ">
                                            <i class="material-icons">insert_drive_file</i>
                                            Acta en proceso
                                        </p>
                                        <p class="uk-width-3-5 m-hipervinculo-acta-origen-s" ng-if="item.ORIGEN == 1">
                                            <a href="https://s3.amazonaws.com/imagenes-ieeg01/{{item.URL}}" target="_blank">
                                                <i class="material-icons md-color-purple-400">insert_drive_file</i>
                                                <i class="material-icons md-color-purple-400">print</i>
                                                Ver acta
                                            </a>
                                            Acta digitalizada con scanner
                                        </p>
                                        <p class="uk-width-3-5 m-hipervinculo-acta-origen-s" ng-if="item.ORIGEN == 2">
                                            <a href="https://s3.amazonaws.com/imagenes-ieeg01/{{item.URL}}" target="_blank">
                                                <i class="material-icons md-color-purple-400">insert_drive_file</i>
                                                <i class="material-icons md-color-purple-400">smartphone</i>
                                                Ver acta
                                            </a>
                                            Acta digitalizada con dispositivo móvil
                                        </p>
                                    </td>
                                </tr>
                                <tr class="m-table-result-total">
                                    <td class="uk-text-bold uk-width-3-5 uk-text-bold">Total de votos en la casilla</td>
                                    <td class="uk-text-bold uk-text-center">{{item.TOTALCALCULADO |number: 0 }}</td>
                                </tr>
                                <tr ng-repeat="i in item.RESULTADOS track by $index">
                                    <td class="uk-text-bold  uk-width-3-5">
                                        <img class="logo-tabla" ng-src="assets/img/logos_partidos/{{ayuntamientos_partidos[$index]}}.png">
                                        <p ng-if="$index == (((item.RESULTADOS | filter:query).length) - 2)">Candidaturas no registradas</p>
                                        <p ng-if="$index == (((item.RESULTADOS | filter:query).length) - 1)">Votos nulos</p>
                                    </td>
                                    <td class="uk-text-bold uk-width-1-5 uk-text-bold">{{ i | number }}
                                        <br> Votos</td>
                                </tr>
                                <tr>
                                    <td class="uk-text-bold uk-width-3-5">Observaciones</td>
                                    <td class="uk-text-bold uk-text-center">{{item.OBSERVACION}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <h4 class="header-a uk-margin-bottom uk-margin-top md-color-purple-900 uk-text-center">
                                            Estadística de casilla {{ seccion_cmb | fill4numbers }} Extraordinaria {{item.title}}
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Participación ciudadana</th>
                                    <th>Lista nominal</th>
                                </tr>
                                <tr>
                                    <td class="uk-text-left">{{ item.PARTICIPACION }}%</td>
                                    <td class="uk-text-left">{{ item.TOTALCALCULADO | number }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
                <a href="" class="uk-slidenav uk-slidenav-previous m-flechas" data-uk-slideshow-item="previous"></a>
                <a href="" class="uk-slidenav uk-slidenav-next m-flechas" data-uk-slideshow-item="next"></a>
            </div>
        </div>
    </div>
</div>

<br>