<div class="uk-container uk-container-center">
    <div class="md-card">
        <div class="md-card-content padding-reset">
            <div class="uk-grid uk-grid-collapse">
                <div class="uk-width-large-2-3 uk-hidden-medium uk-hidden-small">
                    <div class="login_page_info uk-height-1-1" style="background-image: url('assets/img/fondo.png')">

                    </div>
                </div>
                <div class="uk-width-large-1-3 uk-width-medium-2-3 uk-container-center">
                    <div class="login_page_forms">
                        <div id="login_card">
                            <div id="login_form">
                                <div class="login_heading">
                                    <img src="assets/img/logoColor.png">
                                </div>

                                <div class="login_heading mo-style-movil">
                                    <img src="assets/img/fondo_movil.jpg">
                                </div>

                                <div class="uk-margin-medium-top mo-container-login mo-button-index uk-text-center">
                                    <a ui-sref="main" class="md-btn md-bg-purple md-btn-block md-color-white">Consulta resultados preliminares</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>